@page "/PersonalInfo"
@using MediatR
@using Shared.Core
@rendermode InteractiveServer
@inject IMediator Mediator

<MspPaersonalInfo/>
<MudContainer Class="from-container">
    <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudGrid Class="mudgrid-custom">
            <MudItem xs="10" sm="12">
                <MudCard class="custom-card">
                    <MudCardContent>
                        <MudTextField Label="Imię"
                                      @bind-Value="_model.Name" For="@(() => _model.Name)"/>
                        <MudTextField Label="Drugie Imię"
                                      @bind-Value="_model.SecondName" For="@(() => _model.SecondName)"/>
                        <MudTextField Label="Nazwisko"
                                      @bind-Value="_model.Surname" For="@(() => _model.Surname)"/>
                        <MudTextField Label="PESEL"
                                      @bind-Value="_model.Pesel" For="@(() => _model.Pesel)"/>
                        <MudTextField Label="Telefon"
                                      @bind-Value="_model.PhoneNumber" For="@(() => _model.PhoneNumber)"/>

                    </MudCardContent>
                </MudCard>
                <MudCard Class="custom-card">
                    <MudCardContent>
                        <MudSelect For="() => _model.Country" T="string" Label="Kraj" HelperText="Wybierz kraj"
                                   @bind-Value="_model.Country" Placeholder="Wybierz kraj">
                            @foreach (var country in Countries.CountryList)
                            {
                                <MudSelectItem T="string" Value="@country">@country</MudSelectItem>
                            }
                        </MudSelect>

                        <MudTextField Label="Miasto"
                                      @bind-Value="_model.City" For="@(() => _model.City)"/>

                        <MudTextField Label="Ulica"
                                      @bind-Value="_model.Street" For="@(() => _model.Street)"/>

                        <div class="hbox16">
                            <MudTextField Label="Nr Budynku"
                                          @bind-Value="_model.BuildingNumber" For="@(() => _model.BuildingNumber)"/>
                            <MudTextField Label="Nr Lokalu"
                                          @bind-Value="_model.LocalNumber" For="@(() => _model.LocalNumber)"/>
                        </div>

                        <MudTextField Label="Kod pocztowy"
                                      @bind-Value="_model.PostalCode" For="@(() => _model.PostalCode)"/>

                        <MudTextField Label="Dodatkowe informacje o adresie" Class="mt-3"
                                      @bind-Value="_model.AdditionalAddressInfo"
                                      For="@(() => _model.AdditionalAddressInfo)"/>

                    </MudCardContent>
                </MudCard>

                <MudCard Class="custom-card">
                    <MudCardContent>
                        <MudCheckBox @bind-Value="_model.IsCompany" Label="Firma"></MudCheckBox>
                        @if (_model.IsCompany)
                        {
                            <MudTextField Label="NIP"
                                          @bind-Value="_model.Nip" For="@(() => _model.Nip)"/>

                            <MudTextField Label="KRS"
                                          @bind-Value="_model.Krs" For="@(() => _model.Krs)"/>
                            <MudSelect T="string" Label="Rozmiar firmy" HelperText="Wybierz rozmiar firmy"
                                       @bind-Value="_model.CompanySize" For="@(() => _model.CompanySize)">
                                @foreach (var size in _companySizes)
                                {
                                    <MudSelectItem T="string" Value="@size">@size</MudSelectItem>
                                }
                            </MudSelect>

                            <MudTextField Label="Kapitał początkowy"
                                          @bind-Value="_model.InitialCapital" For="@(() => _model.InitialCapital)"/>
                        }
                    </MudCardContent>

                </MudCard>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                               Class="ml-auto">
                        Register
                    </MudButton>
                </MudCardActions>

            </MudItem>
        </MudGrid>
    </EditForm>
</MudContainer>