@page "/Register"
@rendermode InteractiveServer


<MspRegister/>
<EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudGrid Class="custom-mudgrid">
        <MudItem>
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Email"
                                  @bind-Value="_model.Email" For="@(() => _model.Email)"/>
                    <MudTextField Label="Create Password" HelperText="Choose a strong password"
                                  @bind-Value="_model.Password" For="@(() => _model.Password)"
                                  InputType="InputType.Password"/>
                    <MudTextField Label="Repeat Password" HelperText="Repeat the password"
                                  @bind-Value="_model.Password2" For="@(() => _model.Password2)"
                                  InputType="InputType.Password"/>
                </MudCardContent>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="ml-auto">
                    Register
                </MudButton>
            </MudCard>

        </MudItem>
        <MudItem>
            <img src="mall.png" class="img_style">
        </MudItem>
    </MudGrid>

</EditForm>

@if (_success)
{
    <div class="alert alert-success">Registration successful!</div>
}
else if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">@_errorMessage</div>
}